<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FastF1 — Driver Speed Trace</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>FastF1 — Driver Speed Trace</h1>
        <p class="muted">You will be able to do many things here soon.</p>
      </header>
      <div class="card">
        <div class="full">
          <a class="menu-btn" href="{{ url_for('index') }}"
            >Driver Comparison</a
          >
          <a class="menu-btn" href="{{ url_for('index') }}">Driver Standings</a>
          <a class="menu-btn" href="{{ url_for('index') }}">Constructor Comparison</a>
          <a class="menu-btn" href="{{ url_for('index') }}">Driver Comparison</a>
          <a class="menu-btn" href="{{ url_for('index') }}">Driver Comparison</a>
        </div>
      </div>
    </div>
  </body>
</html>
