<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FastF1 — Driver Speed Trace</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>FastF1 — Driver Speed Trace</h1>
        <p class="muted">You will be able to do many things here soon.</p>
      </header>
      <div class="card">
        <div class="full">
          <button type="submit">Driver Comparison</button><br />
          <br />
          <button type="submit">Driver Standings</button>
          <br />
          <button type="submit">Constructor Standings</button>
          <br />
          <button type="submit">...</button>
          <br />
          <button type="submit">...</button>
          <br />
          <button type="submit">...</button>
          <br />
          <button type="submit">...</button>
        </div>
      </div>
    </div>
  </body>
</html>
